<!doctype html>

<html lang="en">
<head>
  <% include partials/cdn.ejs %>
  <script type="text/javascript" src="/assets/submitScript.js"></script>
  <meta charset="utf-8">
  <title>DECRYPTION</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-inverse bg-primary">
        <div class="row">
            <div class="col-xs-1">
                <img id="logoNav" src="./assets/brandLogo.png" alt="logo">
            </div>
            <div class="col-sm-7"></div>
            <div class="col-sm-1">
                <a class="navbar-brand" href="/main"><span style="color: #e3dedb; font-family: Cinzel">Main</span></a>
            </div>
            <div class="col-sm-1">
                <a class="navbar-brand" href="/about"><span style="color: #e3dedb; font-family: Cinzel">About</span></a>
            </div>
            <div class="col-sm-1">
                <a class="navbar-brand" href="/readme"><span style="color: #e3dedb; font-family: Cinzel">Readme</span></a>
            </div>
        </div>
    </nav>
    <div id="bground" class="container">
      <h1 class="text-center">Decryption</h1>
      <br>
      <br>
      <div class="row">
          <div id="box" class="col-sm-4 col-sm-offset-4">
              <form id="form" method="post" enctype="multipart/form-data" action="/submit-decryption" required="true">
                  <label>Enter file to be decrypted:<label>
                  <input class="fileInp" type="file" name="f1">
                  <br>
                  <label>Enter file containing the keys:<label>
                  <input class="fileInp" type="file" name="f2">
                  <br>
                  <br>
                  <button class="btn-lg btn-secondary" type="submit">Upload</button>
              </form>
              <div class="row">
                  <div class="col-sm-4 col-sm-offset-4">
                      <img id="logoLoad" class="hidden" src="./assets/brandLogo.png" alt="logo">
                  </div>
              </div>
          </div>
      </div>
    </div>
</body>
</html>
