<!doctype html>

<html lang="en">
<head>
  <% include partials/cdn.ejs %>
  <meta charset="utf-8">
  <title>DECRYPTION</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-inverse bg-primary">
        <div class="row">
            <div class="col-xs-1">
                <img id="logoNav" src="./assets/logo.png" alt="logo">
            </div>
            <div class="col-sm-8"></div>
            <div class="col-sm-1">
                <a class="navbar-brand" href="#"><span style="color: #e3dedb">About</span></a>
            </div>
            <div class="col-sm-1">
                <a class="navbar-brand" href="#"><span style="color: #e3dedb">Readme</span></a>
            </div>
        </div>
    </nav>
    <div class="container">
      <h1 class="text-center">DECRYPTION</h1>
      <br>
      <br>
      <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
              <form method="post" enctype="multipart/form-data" action="/submit-decryption" required="true">
                  <input type="file" name="f1">
                  <input type="file" name="f2">
                  <input type="submit" value="upload">
              </form>
          </div>
      </div>
    </div>
</body>
</html>
