<!doctype html>

<html lang="en">
<head>
  <% include partials/cdn.ejs %>
  <meta charset="utf-8">
  <title>Martis Hastam</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-inverse bg-primary">
        <div class="row">
            <div class="col-xs-1 text-center">
                <img id="logoNav" src="./assets/brandLogo.png" alt="logo">
            </div>
            <div class="col-sm-8"></div>
            <div class="col-sm-1">
                <a class="navbar-brand" href="/about"><span style="color: #e3dedb; font-family: Cinzel">About</span></a>
            </div>
            <div class="col-sm-1">
                <a class="navbar-brand" href="/readme"><span style="color: #e3dedb; font-family: Cinzel">Readme</span></a>
            </div>
        </div>
    </nav>
    <div id="bground" class="container">
      <h1 class="text-center">Martis Hastam</h1>
      <br>
      <br>
      <div class="row">
          <div id="box" class="col-sm-4 col-sm-offset-4 text-center">
              <a href="/encryption"><button type="button" class="btn-lg btn-secondary">Encryption</button></a>
              <br>
              <br>
              <a href="/decryption"><button type="button" class="btn-lg btn-secondary">Decryption</button></a>
          </div>
      </div>
    </div>
</body>
</html>
