<!doctype html>

<html lang="en">
<head>
  <% include partials/cdn.ejs %>
  <meta charset="utf-8">
  <title>HOMEPAGE</title>
</head>
<body>
  <div class="container">
      <h1 class="text-center">HOMEPAGE</h1>
  </div>
</body>
</html>
