<!doctype html>

<html lang="en">
<head>
  <% include partials/cdn.ejs %>
  <meta charset="utf-8">
  <title>HOMEPAGE</title>
</head>
<body>
  <div class="container">
      <h1 class="text-center">HOMEPAGE</h1>
      <br>
      <br>
      <div class="row">
          <div class="col-sm-4 col-sm-offset-4 text-center">
              <a href="/encryption"><button type="button" class="btn-lg btn-primary">Encryption</button></a>
              <br>
              <a href="/decryption"><button type="button" class="btn-lg btn-primary">Decryption</button></a>
          </div>
      </div>
  </div>
</body>
</html>
