<!doctype html>

<html lang="en">
<head>
  <% include partials/cdn.ejs %>
  <meta charset="utf-8">
  <title>Submission Success</title>
</head>
<body>
  <div class="container">
      <h1 class="text-center">Successful Submission</h1>
      <h2 class="text-center">Congratulations</h2>
  </div>
</body>
</html>
