@import url("https://fonts.googleapis.com/css?family=Cinzel");

body{
    background-color: #53868b;
}
.navbar{
    background-color: #000000;
}
#bground{
    background-color: #53868b;
}
h1, h2, h4, p, label, li{
    color: #000000;
	font-family: Cinzel;
}
.form-control{
	background-color:transparent !important;
	color: #1a1a1a;
}
.btn-lg{
    font-family: Cinzel;
	background-color:#000000;
	border-color: #E3DEDB;
	color: #e3dedb;
    height: 20%;
}
#box{
    background-color: #2F4F4F;
    padding-top: 8%;
    padding-bottom: 8%;
}
#logoNav{
	max-width: 100%;
  	max-height: 100%;
}
.fileInp{
    color: #e3dedb;
}
#logoLoad{
	max-width: 50%;
  	max-height: 50%;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
